body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
    margin-left: 50px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin-left: 50px;
}

li {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    margin-right: 500px;
}

.banned {
    color: red;
}

button {
    margin-left: 10px;
    padding: 5px 10px;
    border: none;
    background-color: #ccc;
    border-radius: 3px;
    cursor: pointer;

}

button:hover {
    background-color: #bbb;
}
